body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 1000px; */
  height: "auto";
  font-family: "Roboto", sans-serif SF Medium;
  color: "#4a4a4a";
  box-sizing: border-box;
  /* fontFamily: 'SF Medium', */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgb(214 214 214);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.527);
  border-radius: 4px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.698);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body .swal-title {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  text-transform: none;
  position: relative;
  display: block;
  padding: 13px 16px;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "SF Medium";
  letter-spacing: 0.5px;
}

body .swal-text {
  font-size: 18px;
  text-align: center;
}
